<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>

<body>
    <button>Otro Boton</button>
    <form action=""></form>
    <form class="clase" action="">
        <input id="fecha" type="datetime">
        <input class="clase" id="fecha" type="text">
        <input class="clase" type="text">
        <button type="button">Registrar Tiempo</button>
    </form>

    <button>Hola</button>
    <script src="../../js/validator.js"></script>
</body>

</html>